.create {
    color: #000000;
    max-width: 480px;
    margin: 10px auto;
  }

.create .page-title{
  color: #000000;
}
  .create label span {
    display: block;
    margin: 30px 0 10px;
  }
  .create p {
    margin-top: 10px;
    font-size: 0.8em;
  }
  .create button {
    display: inline-block;
    width: 100px;
    font-size: 1em;
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 40px 0 40px 180px;
  }

  .ingredients{
    display: flex;
    align-items: center;
  }

  .ingredients button{
    margin: 0 0 0 10px;
  }

  .create .input{
    color: black;
    outline: none;
    border: 3px solid rgb(117, 116, 116);
    background-color: #f8f7f7;
  }



  .create.dark{
    color: #e4e4e4;
  }

  .page-title.dark{
    color: #fff;
  }

  .create .input.dark{
    color: black;
    border-color: #686868;
    background-color: #333333;
  }